/*  
  This css is for styling the home page
  detailed Component and Responsive
  Styling for Tab and Mobile
*/

/* Styling Menu */
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  background-color: rgb(122, 49, 49);
}

/* General Styleling*/
.main-container {
  margin: 0 0px;
}

.right-container {
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-flex: 0;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  background-color: #3f7fc1;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  padding: 60px 0;
  position: relative;
  transform: scaleY(1);
  transform-origin: 0% 0%;
  width: 50%;
}

.left-container {
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-flex: 0;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  background-color: #7ecdda;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  padding: 60px 0;
  position: relative;
  transform: scaleY(1);
  transform-origin: 100% 100%;
  width: 50%;
}
