/*	
	This css is for styling the body 
	with all the main Component Box 
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  background-color: #fff;
}

/* This is the Dekstop navbar section */

.navbar {
  z-index: 2;
  background-color: #fff;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  height: 60px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 15px;
  padding-right: 30px;
  border: 1px solid #fff;
  -webkit-box-shadow: 8px 5px 10px -1px #D3D3D3;
  box-shadow: 8px 5px 10px -1px #D3D3D3;
}


/* This is the Dekstop menu-bar section */Result_card

.menu {
  position: -webkit-fixed;
  position: fixed;
  top: 14%;
  margin-left: -5px;
  list-style:none;
  text-align:center;
}

.menu-home {
  margin-bottom: 20px;
  text-align:center;
  padding: 5px;
}

.menu-home:hover {
  background: #d3d3d3;
  background-size: 100% 100%;
  color: #fff;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
}

.menu-home:active {
  transform: translateY(4px);
}

.menu-chat {
  margin-bottom: 20px;
  text-align:center;
  padding: 5px;
}

.menu-chat:hover {
  background-image: url('http://scottyzen.com/cp/button.png');
  background-size: 100% 100%;
  color: #fff;
  animation: spring 300ms ease-out;
}

.menu-chat:active {
  transform: translateY(2px);
}

.menu-settings {
  margin-bottom: 20px;
  text-align:center;
  padding: 5px;
}

.menu-settings:hover {
  background-image: url('http://scottyzen.com/cp/button.png');
  background-size: 100% 100%;
  color: #fff;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
}

.menu-settings:active {
  transform: translateY(4px);
}


.css-1lzhsvr {
  position: -webkit-fixed;
  position: fixed; 
  z-index: -1;
  background-color: #ffffff;
  margin-left: 100px;             
}